<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.lucky.database.web.mapper.ImUserStickerPackMapper">

    <resultMap id="BaseResultMap" type="com.xy.lucky.domain.po.ImUserStickerPackPo">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="packId" column="pack_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="version" column="version"/>
    </resultMap>

    <select id="selectByUserId" resultMap="BaseResultMap">
        select id, user_id, pack_id, create_time, update_time, del_flag, version
        from im_user_sticker_pack
        where user_id = #{userId}
          and del_flag = 1
    </select>

    <select id="selectPackIdsByUserId" resultType="java.lang.String">
        select pack_id
        from im_user_sticker_pack
        where user_id = #{userId}
          and del_flag = 1
    </select>

</mapper>

