spring:
  banner:
    location: classpath:banner.txt
  threads:
    virtual:
      enabled: true  # 开启虚拟线程
  data:
    redis:
      #      redisson:  使用服务器地址时这里会有 bug, nacos更新配置后 解析的还是本地地址
      #        address: redis://${spring.data.redis.host}:${spring.data.redis.port}
      host: localhost
      port: 6379
      #      password:
      #      username:
      database: 0      # 数据库索引（默认为0）
      timeout: 1800000 # 连接超时时间（毫秒）

  cloud:
    # gateway 配置
    gateway:
      server:
        webflux:
          httpclient:
            response-timeout: 10s
            compression: true
          #跨域设置
          globalcors:
            cors-configurations:
              '[/**]':
                allowed-origin-patterns: "*"
                allowed-methods: "*"
                allowed-headers: "*"
                allow-credentials: true
                exposed-headers: "Content-Disposition,Content-Type,Cache-Control"
          #开启服务注册和发现
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true


knife4j:
  # 聚合swagger文档
  gateway:
    enabled: true
    routes:
      - name: Chat
        # 真实子服务访问url地址-提供OpenAPI的文档
        url: /chat/v3/api-docs?group=default
        service-name: chat

      - name: Database
        url: /database/v3/api-docs?group=default
        service-name: database

      - name: Auth
        url: /auth/v3/api-docs?group=default
        service-name: auth

      - name: Lbs
        url: /lbs/v3/api-docs?group=default
        service-name: lbs

      - name: Logging
        url: /log/v3/api-docs?group=default
        service-name: logging

      - name: Platform
        url: /plat/v3/api-docs?group=default
        service-name: platform

      - name: Leaf
        url: /gen/v3/api-docs?group=default
        service-name: leaf

      - name: Oss
        url: /oss/v3/api-docs?group=default
        service-name: oss
    basic:
      enable: true
      username: lucky
      password: Lucky20251001


lucky:
  gateway:
    security:
      enabled: true
      ignore:
        - '/auth/**'
        - '/im/**'
        - '/actuator/**'
        - '/v3/api-docs/**'
        - '/swagger-ui/**'
      auth:
        enabled: true
        check-blacklist-enabled: true
        replay-protection-enabled: true
      ip-guard:
        enabled: true
        max-requests: 50
      sign:
        enabled: false
    route-cache:
      cache-key: routes
      data-id: gateway-routes-web.yml
      group: ${spring.cloud.nacos.config.group}
      timeout-ms: 5000
    ip-guard:
      enabled: true
      window-seconds: 5
      max-requests: 12
      ban-seconds: 600
      bloom:
        enabled: true
        error-rate: 0.0001
        capacity: 1000000
        ttl-hours: 2

# TODO: log settings
logging:
  config: classpath:logback-plus.xml  #日志配置文件，会在当前项目下去找日志配置文件
  level:
    com.xy.lucky.*: info
    org.springframework: warn
