<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <property name="APP_NAME" value="im-connect"/>
    <property name="LOG_HOME" value="${log.dir:-logs}/${APP_NAME}"/>
    <timestamp key="datetime" datePattern="yyyy-MM-dd"/>

    <property name="ENCODER_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n"/>
    <property name="COLOR_ENCODER_PATTERN"
              value="%red(%d{yyyy-MM-dd HH:mm:ss}) %green([%thread]) %highlight(%-5level) %boldMagenta(%logger{36}) - %msg%n"/>

    <contextName>${APP_NAME}</contextName>

    <!-- 控制台日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${COLOR_ENCODER_PATTERN}</Pattern>
        </encoder>
    </appender>

    <!-- 普通文件日志 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/output.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 错误日志 -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/error.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <!-- 同步日志 -->
    <appender name="SYNC_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/sync.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 模块专用通用结构模板 -->
    <!-- Netty -->
    <appender name="Netty_Appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/${datetime}/Netty.log</File>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/Netty-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxHistory>5</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Rabbit -->
    <appender name="Rabbit_Appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/${datetime}/RabbitMQ.log</File>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/RabbitMQ-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxHistory>5</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Spring -->
    <appender name="Spring_Appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/${datetime}/Spring.log</File>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/Spring-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxHistory>5</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Nacos -->
    <appender name="Nacos_Appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/${datetime}/Nacos.log</File>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/Nacos-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxHistory>5</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Message -->
    <appender name="Message_Appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/${datetime}/Message.log</File>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/Message-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxHistory>5</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_NETTY" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>20480</queueSize> <!-- 队列大小，可调大 -->
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="Netty_Appender"/>
    </appender>

    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>10000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="STDOUT"/>
    </appender>

    <!-- 模块 logger 配置 -->
    <logger name="netty" level="INFO" additivity="false">
        <appender-ref ref="ASYNC_NETTY"/>
        <appender-ref ref="ASYNC_STDOUT"/>
    </logger>

    <logger name="rabbit" level="INFO" additivity="false">
        <appender-ref ref="Rabbit_Appender"/>
        <appender-ref ref="ASYNC_STDOUT"/>
    </logger>

    <logger name="spring" level="INFO" additivity="false">
        <appender-ref ref="Spring_Appender"/>
        <appender-ref ref="ASYNC_STDOUT"/>
    </logger>

    <logger name="nacos" level="INFO" additivity="false">
        <appender-ref ref="Nacos_Appender"/>
        <appender-ref ref="ASYNC_STDOUT"/>
    </logger>

    <logger name="message" level="INFO" additivity="false">
        <appender-ref ref="Message_Appender"/>
        <appender-ref ref="ASYNC_STDOUT"/>
    </logger>

    <logger name="log.sync" level="DEBUG" additivity="true">
        <appender-ref ref="SYNC_FILE"/>
    </logger>

    <!-- 根日志 -->
    <root level="INFO">
        <appender-ref ref="ASYNC_STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="ERROR_FILE"/>
    </root>
</configuration>
