server:
  http2:
    enabled: true
  port: ${SERVER_PORT:@im-oss.server.port@}

spring:
  application:
    name: im-oss
  profiles:
    active: @app.profiles.active@
    include: undertow  # 引用其他的yml文件
  jackson:
    default-property-inclusion: non_null
  config:
    import: nacos:${spring.application.name}-${spring.profiles.active}.yml
  cloud: # nacos
    sentinel:
      eager: true
      transport:
        dashboard: @sentinel.dashboard.url@
    nacos:
      discovery: # 服务注册发现
        server-addr: @nacos.config.server-addr@
        username: @nacos.discovery.username@
        password: @nacos.discovery.password@
        namespace: @nacos.discovery.namespace@
        group: @nacos.discovery.group@
      config: # 配置中心
        enabled: true
        server-addr: @nacos.config.server-addr@
        namespace: @nacos.config.namespace@
        group: @nacos.config.group@
        file-extension: @nacos.config.file-extension@
        preference: @nacos.config.preference@

dubbo: # dubbo
  application:
    serialize-check-status: WARN
  protocol: # dubbo协议
    name: dubbo
    port: -1
  consumer:
    retries: 2
    check: true
    timeout: 5000
  provider:
    delay: -1
    timeout: 5000
  registry: # 注册到nacos
    address: nacos://@nacos.config.server-addr@
    register-mode: instance
    group: @nacos.discovery.group@
    username: @nacos.discovery.username@
    password: @nacos.discovery.password@