spring:
  jackson:
    time-zone: UTC
  banner:
    location: classpath:banner.txt
  threads:
    virtual:
      enabled: true  # 开启虚拟线程

  data:
    redis:
      host: localhost
      port: 6379
      password:
      database: 0      # 数据库索引（默认为0）
      timeout: 1800000 # 连接超时时间（毫秒）
      lettuce:
        pool:
          max-active: 20  # 连接池最大连接数
          max-wait: -1    # 最大阻塞等待时间（负数表示无限制）
          max-idle: 5     # 最大空闲连接数
          min-idle: 0     # 最小空闲连接数
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    virtualHost: /
    publisher-returns: true #设置publisher-returns消息成功则会向发布者发送成功，失败时不会将消息丢弃，而是返回给发布者，发布者根据需求处理
    publisher-confirm-type: correlated #开启发布确认模式，具体有三个值，具体的可以去百度
    template:
      default-receive-queue: im-connect

# TODO: log settings
logging:
  config: classpath:logback-plus.xml  #日志配置文件，会在当前项目下去找日志配置文件
  level:
    com.xy.lucky.*: info
    org.springframework: warn

netty:
  config:
    # 序列化协议: json 或 proto
    protocol: proto
    # 心跳超时时间（毫秒）
    heartBeatTime: 30000
    # 是否允许多设备登录
    multiDeviceEnabled: true
    # Boss 线程池大小
    bossThreadSize: 4
    # Worker 线程池大小
    workThreadSize: 16
    # TCP 配置
    tcp:
      enable: false
      port:
        - 9000
        - 9001
        - 9002
    # WebSocket 配置
    websocket:
      enable: true
      path: /im
      port:
        - 19000
        - 19001
        - 19002